@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
}


.header {
    
    background-color: #00008b;
    height: 120px;
    border-bottom: 30px solid #010c54;

}
#heading {
    text-align: left;
    color: #fafafa;
    top: 30px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
    padding-left: 50px;
}

.aside-block {
    height: 300px;
    width: 200px;
    position: relative;
    color: white;
    background-color: #4e7cbf;
    border-radius: 20px;
    padding: 20px;
    float: left;
    left: 50px;
    top: 50px;

}

.aside-block p {
    font-size: 24px;
}

main{
    height: 2000px;
    background-color: #010c63;

}

.about {
    color: white;
    background-color: blue;
    border-radius: 10px;
    text-align: left;
    left: 200px;
    position: relative;
    padding: 1%;
    width: 200px;
    float: left;
    top: 50px;

}

.footer {
    height: 300px;
    background-color: blue;
    text-align: right;
    position: relative;
}

#contacts {
    font-size: 20px;
    position: relative;
    right: 20px;
    top: 20px;
}

